div.carousel {
	height: 500px;
	width: 100%;
	background-color: green;
	position: fixed;
}

div.item {
	height: 500px;
	position: absolute;
	width: 1500px;
	overflow: hidden;
	left: 50%;
	margin-left: -750px;
	border-radius: 5px;
}

div.carousel-button {
	left: 50%;
	padding-left: 115px;
	background-color: white;
	margin-top: 450px;
	position: relative;
	margin-left: -600px;
}

div.button {
	position: relative;
	border: 3px solid white;
	width: 15px;
	height: 15px;
	float:left;
	margin: 3px;
	cursor: pointer;
	border-radius: 50%;
	background-color:white;
	opacity: 0.7;
}

div.active {
	background-color: black;
}

div.info {
	position: relative;
	left: 50%;
	margin-left: -600px;
	opacity: 0.7;
	width: 300px;
	color: white;
	line-height: 20px;
	padding: 20px;
	font-weight: bold;
}

div.cor-title {
	background-color: black;
	margin-top: -220px;
	border-radius: 3px;
	text-align: center;
}

div.cor-content {
	background-color: #42740c;
	margin-top: 10px;
	border-radius: 3px;
	text-align: left;
}